/* General */
* {
  border: none;
  border-radius: 0px;
  font-family: "CaskaydiaMono Nerd Font Propo";
  font-weight: normal;
  font-size: 15px;
  min-height: 0px;
}

/* Bar */
window#waybar {
  background: #221F1E;
  /* background: transparent; */
  border: 1px solid #E6DBC3;
}

/* Animations */
@keyframes blink {
  to {
    color: #E6DBC3;
  }
}

/* Tooltip */
tooltip {
  background: transparent;
  border: none;
}

tooltip label {
  background: rgba(40, 40, 40, 1);
  border: 1px solid #E6DBC3;
  color: #E6DBC3;
  font-weight: bold;
  padding: 10px 10px;
  margin: 5px;
}

/* Sections */
.modules-left,
.modules-center,
.modules-right {
  background: transparent;
  border-color: #E6DBC3;
  border-style: none;
  border-width: 1px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
}

.modules-left {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.modules-right {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Common modules */
#pulseaudio,
#pulseaudio-mic,
#workspaces,
#idle_inhibitor,
#clock,
#network,
#bluetooth,
#mpris,
#tray,
#custom-weather,
#custom-update,
#custom-spacer,
#custom-icon {
  color: #E6DBC3;
  background-color: transparent;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  min-width: 15px
}

/* Bluetooth */
#bluetooth.on {
  color: #86A361;
}

#bluetooth.connected {
  color: #6F8FAF;
}

#bluetooth.disabled,
#bluetooth.no-controller {
  color: #C05B4D;
}

#bluetooth.off {
  color: #615856;
}

/* Hyprland Workspaces */
/* Workspace buttons */
#workspaces button {
  box-shadow: none;
  text-shadow: none;
  color: #E6DBC3;
  border-radius: 8px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 4px;
}

/* Hovered */
#pulseaudio:hover,
#clock:hover,
#network:hover,
#bluetooth:hover,
#mpris:hover,
#tray:hover,
#custom-weather:hover,
#custom-update:hover,
#custom-icon:hover,
#workspaces button:hover {
  opacity: 0.8;
  background: transparent;
}

/* Empty workspace */
#workspaces button.empty {
  color: #615856;
}

/* Urgent workspace */
#workspaces button.urgent {
  color: red;
  animation: blink 1s infinite;
}

/* MPRIS */
#mpris.playing {
  font-style: italic;
}

/* Tray */
/* Tray menu separator height */
#tray menu separator {
  min-height: 0px;
}
