[Unit]
Description=Bluetooth D-Bus monitor for notifications
After=bluetooth.target

[Service]
ExecStart=%h/.config/scripts/bluetooth_monitor.sh
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
