/* Hide sidebar headers */
#sidebar-box #sidebar-header {
  display: none !important;
}

/* Hide title bar, tabs and window controls */
#titlebar,
#TabsToolbar {
  visibility: collapse !important;
}

/* Remove border-radius */
:root {
  --arrowpanel-border-radius: 0px !important;
  --button-border-radius: 0px !important;
  --tab-border-radius: 0px !important;
  --toolbarbutton-border-radius: 0px !important;
  --panel-border-radius: 0px !important;
}
